@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand:wght@500&display=swap');

footer{
    background-color: #ffb5a8;
    font-family: 'Quicksand', sans-serif;
    padding-left: 50px;
    padding-right: 50px;   
    animation-duration: 2s;
}

footer h5{
    font-weight: 550;
    padding-bottom: 20px;
}

footer .mini-nav{
    display: flex;
    justify-content: center;
    color: #b56963;
    margin-bottom: 60px;
}

footer .mini-nav p{
    padding-left: 7px;
    padding-right: 7px;
    border-right: 1px solid rgb(255, 255, 255);
}


.flex-column a:hover{
    position: relative ;
    left: 5px;
}

footer .text-muted{
    color: #8a585a !important;
}

.flex{
    display: flex;
    align-items: center;
}

.p-10{
    padding-right: 10px;
}

.icon-tel{
    margin-right:10px ;
}

.payment-opt-container{
    position: relative;
    right: 30px;
}

footer .icons-container{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

footer .icons-container a:hover{
    position: initial;

}

footer .icons-container a:hover i{
    color: #8a585a;
    border-color: #8a585a;
}

footer .icons-container i{
    font-size: 20px;
    text-align: center;
    border: 1px dashed rgb(0, 0, 0);
    padding: 5px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    color: rgb(0, 0, 0);
}